build
.vscode
.pyc
*.blend
cmake-build-debug
/cmake-build-debug/
/.ccls-cache/
/.dir-locals.el
__pycache__
.ini
*.convex.*
imgui.ini
.mypy_cache
.DS_Store
/.idea
/log
/temp/
*.egg-info
*.mp4
*.pkl
test.py
output/
/fm_vis/hand_detector/extra_data